{% extends 'base.html' %}


{% block title %}
    <title>Job_Details</title>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Designations</th>
            <th>CTC</th>
            <th>Experiance</th>
            <th>Locations</th>
            <th>Skills</th>
        </tr>
        <tr>
            <td>{{jobmodel.id}}</td>
            <td>{{jobmodel.desg}}</td>
            <td>{{jobmodel.ctc}}</td>
            <td>{{jobmodel.exp}}</td>
            <td>{{jobmodel.loc}}</td>
            <td>{{jobmodel.skills}}</td>
        </tr>
    </table>
{% endblock %}