<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Register</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'EmployeeApp/css/base.css' %}">
</head>
<body>
    <header>
        <h1> WELCOME TO MYJOBs PORTAL </h1><br>
                <ul class="my_navbar">
                    <li><a href="{% url 'list' %}">Company List</a></li>
                    <li><a href="{% url 'create' %}">New Company</a></li>
                    <li><a href="{% url 'joblist' %}">Job List</a></li>
                    <li><a href="{% url 'jobcreate' %}">New Jobs</a></li>
<!--                    <li><a href="{% url 'login' %}">Login</a></li>-->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Hello, {{user.username}}..!Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
    </header>
    <br>

    {% block content %}

        <h2>Write all code here</h2>

    {% endblock %}

    <br>

    <footer>
        <h2>Registration start here@2021</h2>
    </footer>

<!--    Js qurery for .js file-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>